/* --- normalizacion ----- */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.body{
  background: #212121e9;
  font-family: var(--fuentePrimaria);
}

/* ------ variables ------ */
:root{
  /* colors */
  --colorPrimario : linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
  --colorSecundario:linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
  --colorTexto:black;
  
  /* spacings */
  --espacioLargo:2.5rem;
  --espacioBase:2.0rem;
  --espacioChico:1.5rem;
  --espacioContenedor: 75%;

  /* font fasmily */
  --fuentePrimaria : 'Plus Jakarta Sans', sans-serif;
  --fuenteSecundaria:'roboto slab', serif;
  
  /* font sizes */
  --fuenteLargo:7.0em;
  --fuenteMedia:4.0em;
  --fuenteBase:2.0em;
  --fuenteChica:1.6em;

}



/* -----hedaer---- */
.header{
  width: 100%;
}

.contenedor--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: var(--espacioContenedor);
  margin: 0 auto;
}

/* -----footer----- */
.contenedor--footer{
  max-width: var(--espacioContenedor);
  margin: 0 auto;
}

.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.footer_text{
  color: var(--colorSecundario);
  font-family: var(--fuentePrimaria);
}

.footer_text{
  font-size: var(--fuenteChica);
  margin: 0;
}

/* --- main ---- */

.contenedor--main{
  display: none;
  grid-template-areas: 'clima temp-max temp-min'
                        'clima desc desc';
  grid-template-columns: 50% auto auto;
  grid-template-rows: 35% auto;
  max-width: var(--espacioContenedor);
  margin: 0 auto;
  padding: var(--espacioBase) 0;
  gap: var(--espacioBase);
}

/* --- card del clima ---- */
.card-clima{
  grid-area:clima;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuentePrimaria);
}

.card-clima__ubi h2{
  font-size: var(--fuenteMedia);
  margin-top: var(--espacioChico);
}

.card-clima__ico {
  width: 60%;
  margin: 0;
}

.card-clima__ico img{
  width: 100%;
  margin: 0;
}

.card-clima__temp h1{
  font-size: var(--fuenteLargo);
  margin-bottom: var(--espacioChico);

}

.card-clima__desc h2{
  font-size: var(--fuenteMedia);
  margin: var(--espacioChico) auto;
}

/* ---- temperatura max y min ----- */
.max-temp{
  grid-area: temp-max;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuentePrimaria);
}

.max-temp__temp{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.max-temp__text{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.min-temp{
  grid-area: temp-min;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuentePrimaria);
}

.min-temp__temp{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.min-temp__text{
  font-size: var(--fuenteMedia);
  margin: 0;
}

/* ----- caja de descripcion ---- */
.descripcion{
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.desc_white{
  display: block;
  background: white;
  border-radius: 20px;
  font-family: var(--fuentePrimaria);
  margin: 0 var(--espacioChico);
  padding: var(--espacioChico);
  font-size: var(--fuenteBase);
}

/* ------ degrade para el texto ----- */
.degrade{
  background: linear-gradient( rgb(94, 109, 246), rgba(255, 255, 255, 0) 187.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

/* -----glassmorphism---- */
.glass{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
}

/*--------- INPUT de busqueda -------*/
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: var(--fuentePrimaria);
  font-size: var(--fuenteChica) ;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0 2rem;
  border-radius: 30px;
  width: 400px;
  height: 40px;
  transition: all ease-in-out .5s;
  margin-right: -3rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

 /* -------- switch dark mode ------- */
/* The switch - the box around the slider */
.switch {
  --width-of-switch: 6em;
  --height-of-switch: 3em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 2.5em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}


/* ------boton atras------- */
.atras{
  display: none;
  justify-content: center;
  justify-items: center;
  background:var(--colorPrimario);
  border: 3px solid white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  color: white;
  margin: var(--espacioChico) var(--espacioLargo);
  cursor: pointer;
}

.icoAtras{
  width: 100%;
  height: 100%;
  font-size: 30px;
}

/* ----- loader ----- */

.loader {
  position: relative;
  width: 110px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
  margin: 20% auto;
}

.loader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #fff;
}

.snow {
  position: relative;
  display: flex;
  z-index: 1;
}

.snow span {
  position: relative;
  width: 3px;
  height: 3px;
  background: #fff;
  margin: 0 2px;
  border-radius: 50%;
  animation: snowing 5s linear infinite;
  animation-duration: calc(15s / var(--i));
  transform-origin: bottom;
}

@keyframes snowing {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(100px) scale(1);
  }

  100% {
    transform: translateY(100px) scale(0);
  }
}
   
   
   
   
   