/* --- normalizacion ----- */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: var(--colorPrimario);
  font-family: var(--fuentePrimaria);
}

/* ------ variables ------ */
:root{
  /* colors */
  --colorPrimario : linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
  --colorSecundario:rgb(94, 109, 246);
  --colorTexto:black;
  
  /* spacings */
  --espacioLargo:2.5rem;
  --espacioBase:2.0rem;
  --espacioChico:1.5rem;
  --espacioContenedor: 75%;

  /* font fasmily */
  --fuentePrimaria : 'Plus Jakarta Sans', sans-serif;
  --fuenteSecundaria:'roboto slab', serif;
  
  /* font sizes */
  --fuenteLargo:7.0em;
  --fuenteMedia:4.0em;
  --fuenteBase:2.0em;
  --fuenteChica:1.6em;

}



/* -----hedaer---- */
.header{
  width: 100%;
}

.contenedor--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: var(--espacioContenedor);
  margin: 0 auto;
}

/* -----footer----- */
.contenedor--footer{
  max-width: var(--espacioContenedor);
  margin: 0 auto;
}

.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.footer_text{
  color: var(--colorSecundario);
  font-family: var(--fuentePrimaria);
}

.footer_text{
  font-size: var(--fuenteChica);
  margin: 0;
}

/* --- main ---- */
.main{
  display: grid;
  grid-template-areas: 'clima temp-max temp-min'
                        'clima desc desc';
  grid-template-columns: 50% auto auto;
  grid-template-rows: 35% auto;
  max-width: var(--espacioContenedor);
  margin: 0 auto;
  padding: var(--espacioBase) 0;
  gap: var(--espacioBase);
}

/* --- card del clima ---- */
.card-clima{
  grid-area:clima;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fuentePrimaria);
}

.card-clima__ubi h2{
  font-size: var(--fuenteMedia);
  margin-top: var(--espacioChico);
}

.card-clima__ico {
  width: 60%;
  margin: 0;
}

.card-clima__ico img{
  width: 100%;
  margin: 0;
}

.card-clima__temp h1{
  font-size: var(--fuenteLargo);
  margin-bottom: var(--espacioChico);

}

.card-clima__desc h2{
  font-size: var(--fuenteMedia);
  margin: var(--espacioChico) auto;
}

/* ---- temperatura max y min ----- */
.max-temp{
  grid-area: temp-max;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuentePrimaria);
}

.max-temp__temp{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.max-temp__text{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.min-temp{
  grid-area: temp-min;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fuentePrimaria);
}

.min-temp__temp{
  font-size: var(--fuenteMedia);
  margin: 0;
}

.min-temp__text{
  font-size: var(--fuenteMedia);
  margin: 0;
}

/* ----- caja de descripcion ---- */
.descripcion{
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.desc_white{
  display: block;
  background: white;
  border-radius: 20px;
  font-family: var(--fuentePrimaria);
  margin: 0 var(--espacioChico);
  padding: var(--espacioChico);
  font-size: var(--fuenteBase);
}

/* ------ degrade ----- */
.degrade{
  background: linear-gradient( rgb(94, 109, 246), rgba(255, 255, 255, 0) 187.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

/* -----glassmorphism---- */
.glass{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
}

/*  INPUT de busqueda*/
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 400px;
}
   
.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
  font-family: var(--fuentePrimaria);
}
   
.input::placeholder {
  color: #9e9ea7;
}

.input:focus, input:hover {
  outline: none;
  border-color: var(--colorSecundario);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/*  MENU */
input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}
  
.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}
  
   
   
   
   
   